<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
             
<mapper namespace="Coop.mapper.ActivePointMapper">

	<select id="selectAll" parameterType="int" resultType="Coop.model.ActivePoint">
		select *
		from activepoint
		where projectId = #{projectId}
	</select>
	
	<insert id="insert">
		insert into activepoint
		values(#{fileUpload},#{issueMake},#{etc},#{projectId})
	</insert>



</mapper>