<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Coop.mapper.FileInnerMapper">
	
	<select id="selectById" resultType="Coop.model.FileInner">
       SELECT *
        FROM   fileinner
        WHERE  id = #{id}
    </select>
    <select id="selectByProjectId" resultType="Coop.model.FileInner">
        SELECT id, projectId, userId, fileName, fileSize, fileTime
        FROM   fileinner
        WHERE  projectId = #{projectId}
    </select>
    <select id="selectByName" resultType="Coop.model.File">
       SELECT  id,projectId, userId, fileName, fileSize, fileTime,des
        FROM   fileInner
        WHERE  fileName like CONCAT('%', #{name} , '%')
     </select>

    <select id="selectByUserId" resultType="Coop.model.FileInner">
        SELECT *
        FROM   fileinner
        WHERE  userId = #{userId}
    </select>
    
    <select id="selectByRefFileId" resultType="Coop.model.FileInner">
       SELECT *
        FROM   fileinner
        WHERE  refFile = #{id}
        order by fileTime desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fileinner (projectId, userId,refFile,fileName, fileSize, fileTime, data,des)
        VALUES (#{projectId}, #{userId},#{refFile} ,#{fileName}, #{fileSize}, NOW(), #{data},#{des})
    </insert>
    
    <delete id="delete" parameterType = "int" >
    	delete 
    	from fileinner
    	where refFile = #{id};
    </delete>

    
</mapper>
