<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Coop.mapper.FileMapper">
	
	<select id="selectById" resultType="Coop.model.File">
       SELECT *
        FROM   file
        WHERE  id = #{id}
    </select>
    <select id="selectByNoData" resultType="Coop.model.File">
       SELECT  id,projectId, userId, fileName, fileSize, fileTime,des
        FROM   file
        WHERE  projectId = #{projectId}
    </select>
    <select id="selectByProjectId" resultType="Coop.model.File">
        SELECT id, projectId, userId, fileName, fileSize, fileTime
        FROM   file
        WHERE  projectId = #{projectId}
    </select>
    
     <select id="selectByName" resultType="Coop.model.File">
       SELECT  id,projectId, userId, fileName, fileSize, fileTime,des
        FROM   file
        WHERE  fileName like CONCAT('%', #{name} , '%')
     </select>

    <select id="selectByUserId" resultType="Coop.model.File">
        SELECT *
        FROM   file
        WHERE  userId = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file (projectId, userId, fileName, fileSize, fileTime, data,des)
        VALUES (#{projectId}, #{userId}, #{fileName}, #{fileSize}, NOW(), #{data},#{des})
    </insert>
    
    <delete id="delete" parameterType = "int" >
    	delete 
    	from file
    	where id = #{id};
    </delete>
    
</mapper>
