<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Coop.mapper.FilePngCountMapper">
	
	
    <select id="selectByFileId" resultType="Coop.model.FilePngCount">
       SELECT *
        FROM   FilePngCount
        WHERE  fileId = #{fileId}
    </select>
   
    <insert id="insert">
        INSERT INTO FilePngCount (fileId,pngCount)
        VALUES (#{fileId},#{pngCount})
    </insert>

    
</mapper>
