<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Coop.mapper.IssueMapper">
	
    <select id="selectById" resultType="Coop.model.Issue">
    	SELECT *
    	FROM issue
    	WHERE id = #{id}
    </select>
    
    <select id="selectByProjectId" resultType="Coop.model.Issue">
    	SELECT *
    	FROM issue
    	WHERE projectId = #{id}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO issue (userId,userName,projectId,name,label,des,create_time)
        VALUES (#{userId}, #{userName}, #{projectId},#{name},#{label},#{des},NOW())
    </insert>
    
   
    
  

</mapper>