<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="Coop.mapper.NoticeUserMapper">
	
	<select id="selectByRecipient" resultType = "Coop.model.NoticeUser">
    	SELECT *,count(*) 'rowCount' FROM INVITE
    	WHERE recipient = #{recipient} and confirm = 0;
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO Notice_User(id,projectId,member,confirm)
    	values(#{id},#{projectId},#{member},#{confirm})
    </insert>
    
    <update id="updateConfirm" parameterType="hashmap">
    	UPDATE Notice_User
    	SET confirm = 1
    	where id = #{param.id} and member = #{param.member} 
    </update>


</mapper>