<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Coop.mapper.PngFilesMapper">
	
	<select id="selectById" resultType="Coop.model.PngFiles">
       SELECT *
        FROM   PngFiles
        WHERE  id = #{id}
    </select>
    
    <select id="selectByFileId" resultType="Coop.model.PngFiles">
       SELECT *
        FROM   PngFiles
        WHERE  fileId = #{fileId}
    </select>
   
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PngFiles (fileId,src,create_time)
        VALUES (#{fileId},#{src},now())
    </insert>
    
    <delete id="delete" parameterType = "int" >
    	delete 
    	from pngfiles
    	where fileId = #{id};
    </delete>

    
</mapper>
