<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             

<mapper namespace="Coop.mapper.ProUserMapper">
	
    <update id="update" parameterType="hashmap">
    	UPDATE pro_user 
		SET cont = #{cont}
		WHERE projectId = #{proId} and userId = #{userId};
    </update>
    <update id="updateCont">
        UPDATE pro_user 
        SET cont = cont + #{cont}
        WHERE projectId = #{proId} AND userId = #{userId}
    </update>
      
    <insert id="insertPro_user">
    	INSERT INTO pro_user(userId,projectId)
    	values(#{userId},#{proId})
    </insert>
    <select id="selectByProjectId" resultType = "Coop.model.User">
    	SELECT u.*
    	from pro_user p join user u on p.userId = u.id
    	WHERE projectId = #{id}
    </select>
    <select id="selectCont" resultType = "Coop.model.ChartData">
    	select u.name 'label', pro.cont 'y'
		from pro_user pro join user u on pro.userId = u.id
		where pro.projectId = #{id}
    </select>

</mapper>
             