<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="Coop.mapper.UserMapper">
	
	<!-- User 테이블에서 유저정보를 가져옴 기본 select문 -->
    <select id="selectAll" resultType = "Coop.model.User">
    	SELECT * FROM user
    </select>
    
    <select id="selectById" resultType = "Coop.model.User">
    	SELECT * FROM user
    	WHERE ID = #{id}
    </select>
    <select id="selectProject" resultType = "Coop.model.User" parameterType="int">
    	select *
		from user 
		where not id in (select distinct userId
		from pro_user
		where projectId = #{id});
    </select>
    
    
    
    <select id="loginProcess" parameterType = "String" resultType = "Coop.model.User">
    	SELECT * FROM user
    	WHERE ID = #{id} and Password = #{password}
    </select>
    
    <insert id="insertUser">
    	INSERT INTO user(id,password,name,email)
    	values(#{id},#{password},#{name},#{email})
    </insert>
    
   <update id="updateUserImage">
        UPDATE user 
        SET img = #{img}
        WHERE id = #{id}
    </update>
    
    

</mapper>
             