<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             
<mapper namespace="Coop.mapper.UserMapper">
	
	<!-- User 테이블에서 유저정보를 가져옴 기본 select문 -->
    <select id="selectAll" resultType = "Coop.model.User">
    	SELECT * FROM User
    </select>
    
    <select id="selectById" resultType = "Coop.model.User">
    	SELECT * FROM User
    	WHERE ID = #{id}
    </select>
    
    
    
    <select id="loginProcess" parameterType = "String" resultType = "Coop.model.User">
    	SELECT * FROM User
    	WHERE ID = #{id} and Password = #{password}
    </select>
    
    <insert id="insertUser">
    	INSERT INTO User(id,password,name,email)
    	values(#{id},#{password},#{name},#{email})
    </insert>
    
   <update id="updateUserImage">
        UPDATE User 
        SET img = #{img}
        WHERE id = #{id}
    </update>
    
    

</mapper>
             